{% extends "layout.html" %}
{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activity</title>
</head>

<body>
    {% block content %}
    <div class="container-sm">
        <h2>Acticvidades relacionadas a la box:</h2>
        {% for act in activ  %}
        <div>
            <ul>
                <li>
                    {{ act.name }}
                </li>
            </ul>
        </div>
            </p>
        
        {% endfor %}
        

        <!-- {% for contact in page_obj %}
        {# Each "contact" is a Contact model object. #}
        {{ contact.full_name|upper }}<br>
        ...
        {% endfor %}-->
        <h2>Mostrando las primeras 20 actividades</h2>
        <h3>Paginando de a 20</h3>
        {% for activitie in actividades_page %}
        <div>
            <ul>
                <li>
                    {{ activitie.name }}
                </li>
            </ul>
        </div>
        {% endfor %}
        {% include "pagination.html" with page_obj=actividades_page  %}
       

        <!--<h2>Lista de Actividades:</h2>

        {% for activitie in entity %}
        <div>
            <ul>
                <li>
                    {{ activitie.name }}
                </li>
            </ul>
        </div>
        {% endfor %}-->
    </div>
    {% endblock %}
</body>

</html>