{% extends "layout.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Box</title>
</head>

<body>
    {% block content %}
    <div class="row justify-content-md-center">
        <div class="badge bg-primary text-lg-center" style="width: 20%; margin: 10px 10px;">
            <H2>LISTA DE BOX</H2>
        </div>
        {% for box in boxs %}
        <!--bucle para recorrer las box-->
        <div>
            <ul>
                <li class="row justify-content-md-center">
                    <a class="btn btn-success" href="{% url 'infobox' box.id %}" role="button">{{ box.name }}</a>
                </li>
            </ul>
        </div>
        {% endfor%}
    </div>


    {%endblock%}
</body>

</html>